.app {
  text-align: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 40px;
  cursor: pointer;
  position: relative;
  height: 150px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
